# Versiones exactas probadas con fun60-joystick
# Generado con: pip freeze
# Actualiza con: pip freeze > requirements-lock.txt
vgamepad==0.1.0
websockets==15.0.1
pywinusb==0.4.2
pywin32==311
colorama==0.4.6
